<div>
    <p *ngIf="showMsg  && !userI" class="heading">{{statusmsg}}</p>
    <div class="container main-table">
        <div class="row border-bottom border-top border-right" *ngIf="userI">
            <div class="col-md-3 border-left">
                Firstname
            </div>
            <div class="col-md-3 border-left">
                Lastname
            </div>
            <div class="col-md-3 border-left">
                Avatar
            </div>
            <div class="col-md-3 border-left">
                Action
            </div>
        </div>
        <div *ngFor="let user of userI?.data;" class="row border-bottom border-right">
            <div class="col-md-3 border-left">
                {{user.first_name}}
            </div>
            <div class="col-md-3 border-left">
                {{user.last_name}}
            </div>
            <div class="col-md-3 border-left">
                <img src="{{user.avatar}}"/>
            </div>
            <div class="col-md-3 border-left">
                <a routerLink="/recordlist/{{user.id}}">Edit</a> /
                <a routerLink="/" (click)="deleteUser(user)">Delete</a>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="page">
        <button *ngFor="let no of ' '.repeat((userI?.total_pages)).split(''), let x = index" (click)="getUsers(x+1)"
            class="btn" [ngClass]="{'btn-focus':(userI?.page) == x+1}">{{x+1}}</button>
        <span *ngIf="showMsg && userI">Fetching data...</span>
    </div>
</div>