<div class="main">
        <div>
                <h1>User CRUD Application</h1>
        </div>
        <div>
                <li>
                        <a routerLink="/recordlist" class="lnk" routerLinkActive="router-link-active"
                                [routerLinkActiveOptions]="{exact:true}">Record List</a> |
                </li>
                <li>
                        <a routerLink="/recordlist/new" routerLinkActive="router-link-active" class="lnk">Add Record</a>
                </li>
        </div>
        <router-outlet></router-outlet>

</div>